
$header_height: 60;

html,body,.container-fluid {
  height:100%;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.ui-alert
{
  z-index: -1;
  margin: 15px;
}

.beige-bg {
  background-color: beige;
}

.reference-dropdown {
  display: inline-block;
  top: auto;
  left: auto;
}

.story-main {

}
.story-toolbar {

}

.float-rigt {
  float: right;
  margin-right: -15px;
}

.column-left {
  margin-left: unset;
}

.no-dots {
  list-style: none;
}

@import "site";
@import "spacing";
@import "gallery";